body {
    background-image: url('https://images.unsplash.com/photo-1585170236738-aadfce97f025?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y2FtcCUyMG5vdXxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80');
    background-size: cover; /* Adjust to your needs (e.g., 'contain', '100% 100%', etc.) */
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional for fixed background */
}
.Messi {
    display: flex; /* Use flexbox to arrange divs side by side */
  }
  
  .details {
    width: 70%; /* Each div takes up 50% of the container width */
    padding: 10px; /* Add some padding for spacing */
     /* Add a border for visualization */
  }
  
.xavi ,.image_xavi{
    display: flex;
  }

  .deatils_xavi{
    width:50%;
    padding:10px;
    
  }
.inesta,.img{
    display :flex;
  }
  .dis{
    width:35%;
    padding:10px;
  }
